body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    padding: 0;
}

.container {
    padding: 1rem;
    background-color: rgb(228, 149, 91);
    color: rgb(0, 0, 0);
    text-align: center;
    
}

h1 {
    font-size: 40px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: auto;
}


ul {
    list-style: none;
    text-transform: uppercase; 
}


a {  
    color: rgb(0, 0, 0);
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
      
}